environment.yml
.DS_Store
__pycache__/ops_process.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
__pycache__/segment_functions.cpython-311.pyc
__pycache__/foci_detection.cpython-311.pyc
output.png
output.png
